#board{
    border: 3px solid;
}
#score{
    font-family: "consolas",monospace;
    font-size: 100px;
}
#reset{
    font-size: 30px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 15px;
}
#container{
    text-align: center;
}