.timerbutton{
    width: 90px;
    height: 40px;
    font-size: 25px;
    border: 2px solid;
    border-radius: 5px;
    border-color: brown;
    background-color: blanchedalmond;
    cursor: pointer;
    margin-top: 10px;
}
#clock{
    text-align: center;
    height: 200px;
    background-color: rgb(205, 255, 247);
    border: 2px solid;
    border-radius: 5px;
}
body{
    background-color: antiquewhite;
}
#timer{
    display: block;
    font-size: 75px;
    margin-top: -20px;
}
#tick{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;

}